In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df_places = gpd.read_file('../dados/hex8_data_geometry_curitiba3.geojson')
df_interpolados = pd.read_csv("../dados/dados interpolados anos.csv")

In [3]:
print(df_places.centroid.x, df_places.centroid.y)
df_places["lat"] = df_places.centroid.x
df_places["long"] = df_places.centroid.y

/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/1337249125.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  print(df_places.centroid.x, df_places.centroid.y)
/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/1337249125.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  print(df_places.centroid.x, df_places.centroid.y)
/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/1337249125.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df_places["lat"] = df_places.centroid.x
/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/1337249125.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df_places["long"] = df_places.centroid.y

0     -49.275416
1     -49.257088
2     -49.266252
3     -49.269547
4     -49.251219
         ...
879   -49.345733
880   -49.354895
881   -49.336570
882   -49.358189
883   -49.327407
Length: 884, dtype: float64 0     -25.533110
1     -25.531334
2     -25.532222
3     -25.539459
4     -25.537683
         ...
879   -25.629754
880   -25.630633
881   -25.628874
882   -25.637856
883   -25.627993
Length: 884, dtype: float64

In [4]:
df_places['date']= pd.to_datetime(df_places['date'])
df_places.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      884 non-null    datetime64[ns]
 1   score     884 non-null    int64
 2   hex       884 non-null    object
 3   NOME      884 non-null    object
 4   geometry  884 non-null    geometry
 5   lat       884 non-null    float64
 6   long      884 non-null    float64
dtypes: datetime64[ns](1), float64(2), geometry(1), int64(1), object(2)
memory usage: 48.5+ KB

In [5]:
df_places = df_places.drop(columns = 'score')
df_places = df_places.drop(columns = 'date')
df_places = df_places.drop_duplicates()
df_places.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 617 entries, 0 to 883
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   hex       617 non-null    object
 1   NOME      617 non-null    object
 2   geometry  617 non-null    geometry
 3   lat       617 non-null    float64
 4   long      617 non-null    float64
dtypes: float64(2), geometry(1), object(2)
memory usage: 28.9+ KB

In [6]:
df_interpolados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16229568 entries, 0 to 16229567
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   dataHora     object
 1   valorMedido  float64
 2   latitude     float64
 3   longitude    float64
dtypes: float64(3), object(1)
memory usage: 495.3+ MB

In [7]:
# df_interpolados = df_interpolados.drop(columns = 'Unnamed: 0')
df_interpolados['date']= pd.to_datetime(df_interpolados['dataHora'])
df_interpolados = df_interpolados.drop(columns = 'dataHora')
df_interpolados.head()

   valorMedido   latitude  longitude       date
0          0.0 -49.387605 -25.433210 2015-01-01
1          0.0 -49.385034 -25.446811 2015-01-01
2          0.0 -49.384311 -25.425967 2015-01-01
3          0.0 -49.383186 -25.481245 2015-01-01
4          0.0 -49.382463 -25.460410 2015-01-01

In [8]:
df_interpolados.loc[df_interpolados["valorMedido"] == -1, "valorMedido"] = "0"
# df_merged["valorMedido"] = df_merged["valorMedido"]
# df_interpolados['valorMedido'] = df_interpolados['valorMedido'].str.replace('[','')
# df_interpolados['valorMedido'] = df_interpolados['valorMedido'].str.replace(']','')
df_interpolados["valorMedido"] = pd.to_numeric(df_interpolados["valorMedido"])

df_interpolados.head()

   valorMedido   latitude  longitude       date
0          0.0 -49.387605 -25.433210 2015-01-01
1          0.0 -49.385034 -25.446811 2015-01-01
2          0.0 -49.384311 -25.425967 2015-01-01
3          0.0 -49.383186 -25.481245 2015-01-01
4          0.0 -49.382463 -25.460410 2015-01-01

In [9]:
df_interpolados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16229568 entries, 0 to 16229567
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   valorMedido  float64
 1   latitude     float64
 2   longitude    float64
 3   date         datetime64[ns]
dtypes: datetime64[ns](1), float64(3)
memory usage: 495.3 MB

In [10]:
df_interpolados_sum = df_interpolados.groupby(["latitude", "longitude", pd.PeriodIndex(df_interpolados['date'], freq="D")])['valorMedido'].sum().reset_index()

In [11]:
df_merged = df_places.merge(df_interpolados_sum, left_on=["lat", "long"], right_on=["latitude", "longitude"])
df_merged.head()

,hex,NOME,geometry,lat,long,latitude,longitude,date,valorMedido
0,88a831acc5fffff,BAIRRO NOVO,"POLYGON ((-49.26869 -25.54399, -49.26454 -25.5...",-49.269547,-25.539459,-49.269547,-25.539459,2015-01-01,10.172434
1,88a831acc5fffff,BAIRRO NOVO,"POLYGON ((-49.26869 -25.54399, -49.26454 -25.5...",-49.269547,-25.539459,-49.269547,-25.539459,2015-01-02,2.073578
2,88a831acc5fffff,BAIRRO NOVO,"POLYGON ((-49.26869 -25.54399, -49.26454 -25.5...",-49.269547,-25.539459,-49.269547,-25.539459,2015-01-03,0.438409
3,88a831acc5fffff,BAIRRO NOVO,"POLYGON ((-49.26869 -25.54399, -49.26454 -25.5...",-49.269547,-25.539459,-49.269547,-25.539459,2015-01-04,3.888202
4,88a831acc5fffff,BAIRRO NOVO,"POLYGON ((-49.26869 -25.54399, -49.26454 -25.5...",-49.269547,-25.539459,-49.269547,-25.539459,2015-01-05,13.683469

In [12]:
df_merged.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 447168 entries, 0 to 447167
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   hex          447168 non-null  object
 1   NOME         447168 non-null  object
 2   geometry     447168 non-null  geometry
 3   lat          447168 non-null  float64
 4   long         447168 non-null  float64
 5   latitude     447168 non-null  float64
 6   longitude    447168 non-null  float64
 7   date         447168 non-null  period[D]
 8   valorMedido  447168 non-null  float64
dtypes: float64(5), geometry(1), object(2), period[D](1)
memory usage: 34.1+ MB

In [13]:
df_merged = df_merged.sort_values(by=["hex", 'date'])

In [14]:
f = lambda x: x.rolling(3).sum().shift()
df_merged['value_last_3_days'] = df_merged.groupby('hex').valorMedido.apply(f)

/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/1487777213.py:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_merged['value_last_3_days'] = df_merged.groupby('hex').valorMedido.apply(f)

In [15]:
f = lambda x: x.rolling(7).sum().shift()
df_merged['value_last_7_days'] = df_merged.groupby('hex').valorMedido.apply(f)

/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_25177/2449180256.py:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_merged['value_last_7_days'] = df_merged.groupby('hex').valorMedido.apply(f)

In [16]:
# df_merged[df_merged["date"] == datetime(year=2018, month=1, day=7)]
df_merged[df_merged["hex"] == "88a804cb05fffff"][:5]

,hex,NOME,geometry,lat,long,latitude,longitude,date,valorMedido,value_last_3_days,value_last_7_days
360584,88a804cb05fffff,SANTA FELICIDADE,"POLYGON ((-49.32706 -25.38348, -49.32291 -25.3...",-49.327917,-25.378939,-49.327917,-25.378939,2015-01-01,11.598242,NaN,NaN
360585,88a804cb05fffff,SANTA FELICIDADE,"POLYGON ((-49.32706 -25.38348, -49.32291 -25.3...",-49.327917,-25.378939,-49.327917,-25.378939,2015-01-02,1.995620,NaN,NaN
360586,88a804cb05fffff,SANTA FELICIDADE,"POLYGON ((-49.32706 -25.38348, -49.32291 -25.3...",-49.327917,-25.378939,-49.327917,-25.378939,2015-01-03,0.209650,NaN,NaN
360587,88a804cb05fffff,SANTA FELICIDADE,"POLYGON ((-49.32706 -25.38348, -49.32291 -25.3...",-49.327917,-25.378939,-49.327917,-25.378939,2015-01-04,3.537818,13.803512,NaN
360588,88a804cb05fffff,SANTA FELICIDADE,"POLYGON ((-49.32706 -25.38348, -49.32291 -25.3...",-49.327917,-25.378939,-49.327917,-25.378939,2015-01-05,25.649315,5.743088,NaN

In [17]:
df_merged.date.unique()

<PeriodArray>
['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05',
 '2015-01-06', '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-10',
 ...
 '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
 '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
Length: 1096, dtype: period[D]

In [18]:
df_merged = df_merged.fillna(0.0)

In [19]:
df_merged.date.unique()

<PeriodArray>
['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05',
 '2015-01-06', '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-10',
 ...
 '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
 '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
Length: 1096, dtype: period[D]

In [ ]:
df_places_filter = df_merged[df_merged.date == "2018-01-19"]
df_places_filter[:10]

df_places_filter.plot(column="value_last_3_days", cmap='Blues', figsize = (5,7.5), legend=True)
plt.show()

# df_places

In [ ]:
df_places_filter.plot(column="valorMedido", cmap='Blues', figsize = (5,7.5), legend=True)

In [ ]:
df_places_filter.plot(column="value_last_7_days", cmap='Blues', figsize = (5,7.5), legend=True)

In [ ]:
df_places_filter.to_csv("../dados/dados_pluviometricos_geo_19_01_2018.csv", index=False)

In [ ]:
print(df_merged.crs)

In [20]:
df_merged.to_csv("../dados/dados_pluviometricos_geo_anos.csv", index=False)

In [ ]:
df = pd.read_csv("../dados/dados_pluviometricos_geo.csv")

gdf = gpd.GeoDataFrame(
    df,
    crs={'init': 'epsg:4326'},
    geometry=gpd.points_from_xy(df.latitude, df.longitude)
)

In [ ]:
df.head()

In [ ]:
df_places_filter = gdf[gdf.date == "2018-02-20"]
df_places_filter[:10]

df_places_filter.plot(column="value_last_3_days", cmap='Blues', figsize = (5,7.5), legend=True)
plt.show()

# df_places